### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup_Complete
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
Heroes_df = pd.read_csv(csv_path)
Heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Complete
player_count=Heroes_df["SN"].nunique()
print("Player Count:")
print("_____________")
print("_____________")
print('Total number of players is:')
print(player_count)

Player Count:
_____________
_____________
Total number of players is:
576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Complete
Unique_item_count=Heroes_df["Item ID"].nunique()
print("Purchasing Analysis (Total):")
print("____________________________")
print("____________________________")
print('Number of Unique items:')
print(Unique_item_count)
Price_Total=Heroes_df["Price"].sum()
Average_Price= Price_Total/179
Formatted_float = "${:,.2f}".format(Average_Price)
print("Average Price for item:")
print(Formatted_float)
Total_Purchase_Num=Heroes_df["Purchase ID"].nunique()
print('Total Number of Purchases:')
print(Total_Purchase_Num)
Revenue=Heroes_df["Price"].sum()
Formatted_float2 = "${:,.2f}".format(Revenue)
print('Total Revenue:')
print(Formatted_float2)

Purchasing Analysis (Total):
____________________________
____________________________
Number of Unique items:
179
Average Price for item:
$13.29
Total Number of Purchases:
780
Total Revenue:
$2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Complete
Gender_Demographics_df=Heroes_df['Gender']
Female_Demographics_df= Gender_Demographics_df.loc[Heroes_df["Gender"]== 'Female']
Female_Demographics_df.count()
Gender_Demographics_df=Heroes_df['Gender']
Non_Demographics_df= Gender_Demographics_df.loc[Heroes_df["Gender"]== 'Other / Non-Disclosed']
Non_Demographics_df.count()
Gender_Demographics_df=Heroes_df['Gender']
Male_Demographics_df= Gender_Demographics_df.loc[Heroes_df["Gender"]== 'Male']
Gender_Count_df=Male_Demographics_df.count()+Non_Demographics_df.count()+Female_Demographics_df.count()
Female_percent_df=Female_Demographics_df.count()/Gender_Count_df
Non_Demographics_percent_df=Non_Demographics_df.count()/Gender_Count_df
Male_percent_df=Male_Demographics_df.count()/Gender_Count_df
Formatted_float3 = "{:,.2f}%".format(Female_percent_df*100)
Formatted_float4 = "{:,.2f}%".format(Male_percent_df*100)
Formatted_float5 = "{:,.2f}%".format(Non_Demographics_percent_df*100)
print('Gender Demographics:')
print('____________________')
print('____________________')
print('Female Count:')
print(Female_Demographics_df.count())
print('Female Percentage:')
print(Formatted_float3)
print('Male Count:')
print(Male_Demographics_df.count())
print('Male Percentage:')
print(Formatted_float4)
print('Other / Non-Disclosed Count:')
print(Non_Demographics_df.count())
print('Other / Non-Disclosed Percentage:')
print(Formatted_float5)

Gender Demographics:
____________________
____________________
Female Count:
113
Female Percentage:
14.49%
Male Count:
652
Male Percentage:
83.59%
Other / Non-Disclosed Count:
15
Other / Non-Disclosed Percentage:
1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Complete

By_Gender2= Heroes_df.groupby(["Gender"])

Gender_avg_df=By_Gender2.count()
Purchase_Count=Gender_avg_df.loc[:,["Purchase ID"]]
Purchase_Count

Gender_price=By_Gender2.mean()
avg_purhase_price=Gender_price.loc[:,["Price"]]

sum_purhase_price1=By_Gender2.sum()
sum_purhase_price=sum_purhase_price1.loc[:,["Price"]]

Average_Female_Purchase=(361.94/113)
Average_Male_Purchase=(1967.64/652)  
Average_Other_Purchase=(50.19/15) 

Test2_df=By_Gender2.SN.unique()
Test3_df=Test2_df

print("Purchasing Analysis (Gender):")
print("_____________________________")      
print("_____________________________")    
print("Purchase count:")
print("____________________________")
print(Purchase_Count)
print("____________________________")
print("Avg. purchase price:")
print("____________________________")
print(avg_purhase_price)
print("____________________________")
print("Average Purchase total Value:")
print("____________________________")
print(sum_purhase_price)
print("____________________________")
# print("Average Purchase Total per Person by Gender")
# print("____________________________")
# print(Test3_df)

Purchasing Analysis (Gender):
_____________________________
_____________________________
Purchase count:
____________________________
                       Purchase ID
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15
____________________________
Avg. purchase price:
____________________________
                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000
____________________________
Average Purchase total Value:
____________________________
                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19
____________________________

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Complete
# print(Heroes_df["Age"].max())
# print(Heroes_df["Age"].min())
bins = [5,9,14,19,24,29,34,39,44,49]
Age_labels = ["Age 5 to 9","Age 10 to 14", "Age 15  to 19", "Age 20 to 24", "Age 25 to 29","Age 30 to 34","Age 35 to 39", "Age 40 yo 44", "Age 45 to 49"]
Heroes_df["Age Demographics"]=pd.cut(Heroes_df["Age"], bins, labels=Age_labels)
Age_df = Heroes_df.loc[:,["Age Demographics","Age"]]
Ages_df=Age_df.groupby(["Age Demographics"])
Count_df=Ages_df.count()
Total_Age_df=Count_df.sum()
Total_Age_df
Percentage_df=(Count_df/Total_Age_df)*100
Percentage_df["Age"] = Percentage_df["Age"].astype(float).map("{:,.2f}%".format)
Percentage_df

                     Age
Age Demographics
Age 5 to 9         2.95%
Age 10 to 14       3.59%
Age 15  to 19     17.44%
Age 20 to 24      46.79%
Age 25 to 29      12.95%
Age 30 to 34       9.36%
Age 35 to 39       5.26%
Age 40 yo 44       1.54%
Age 45 to 49       0.13%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Not Started

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Top 5 Spenders_Complete
Popular_Heroes_df = Heroes_df.loc[:,["SN","Price"]]
Top_df=Popular_Heroes_df.groupby(["SN"])
Total_Purchase_Value_df=Top_df.sum()
Average_Purchase_Price=Top_df.mean()
Total_Purchase_Count=Top_df.count()
Total_purchase_Count1=Total_Purchase_Count.rename(columns={"Price":"Purchase Count"})
Average_Purchase_Price=Top_df.mean()
Average_Purchase_Price1=Average_Purchase_Price.rename(columns={"Price":"Average Purchase Price"})
Average_Purchase_Price1
Average_Purchase_Price1=Average_Purchase_Price.rename(columns={"Price":"Average Purchase Price"})
Total_Purchase_Value_df1=Total_Purchase_Value_df.rename(columns={"Price":"Total Purchase Value"})
Total_Purchase_Value_df1["Toatal Purchase Count"]=Total_purchase_Count1
Total_Purchase_Value_df1["Average Purchase Price"]=Average_Purchase_Price1
Total_Purchase_Value_df1["Average Purchase Price"] = Total_Purchase_Value_df1["Average Purchase Price"].astype(float).map("${:,.2f}".format)
Total_Purchase_Value_df1["Total Purchase Value"] = Total_Purchase_Value_df1["Total Purchase Value"].astype(float).map("${:,.2f}".format)
Total_Purchase_Value_df2 =Total_Purchase_Value_df1.sort_values("Total Purchase Value", ascending=False)
Top5df=Total_Purchase_Value_df2.loc["Haillyrgue51":"Saesrideu94"]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Complete
Popular_Heroes_df = Heroes_df.loc[:,["Item Name","Price"]]
Grouped_ID_df=Popular_Heroes_df.groupby(["Item Name"])
Average_price_Mean_df=Grouped_ID_df.mean()
Average_price_Mean_df
Total_Purchase_price_Sum_df=Grouped_ID_df.sum()
Total_Purchase_price_Sum_df
Summary_df=Grouped_ID_df["Item Name"].count()
Average_price_Mean1_df=Average_price_Mean_df.rename(columns={"Price":"Average Price"})
Total_Purchase_price_Sum1_df=Total_Purchase_price_Sum_df.rename(columns={"Price":"Total Purchase Sum"})
Count_df=Grouped_ID_df.count()
Count_df1=Count_df.rename(columns={"Price":"Purchase Count"})
Average_price_Mean1_df["Purchase Count"]=Count_df1
Average_price_Mean1_df["Total Purchase Value"]=Total_Purchase_price_Sum1_df
Sort2_df=Average_price_Mean1_df.sort_values("Purchase Count", ascending=False)
Top5df2_df=Sort2_df["Final Critic":"Extraction, Quickblade Of Trembling Hands"]
# Top5df2_df["Total Purchase Value"] = Top5df2_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
# Top5df2_df["Average Price"] = Top5df2_df["Average Price"].astype(float).map("${:,.2f}".format)
Top5df2_df

,Average Price,Purchase Count,Total Purchase Value
Item Name,,,
Final Critic,4.614615,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",4.230000,12,50.76
Persuasion,3.221111,9,28.99
Nirvana,4.900000,9,44.10
"Extraction, Quickblade Of Trembling Hands",3.530000,9,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
# Complete
Popular_Heroes_df = Heroes_df.loc[:,["Item Name","Price"]]
Grouped_ID_df=Popular_Heroes_df.groupby(["Item Name"])
Average_price_Mean=Grouped_ID_df.mean()
Average_price_Mean
Total_Purchase_price_Sum=Grouped_ID_df.sum()
Total_Purchase_price_Sum
Summary_df=Grouped_ID_df["Item Name"].count()
Average_price_Mean1=Average_price_Mean.rename(columns={"Price":"Average Price"})
Total_Purchase_price_Sum1=Total_Purchase_price_Sum.rename(columns={"Price":"Total Purchase Sum"})
Count_df=Grouped_ID_df.count()
Count_df1=Count_df.rename(columns={"Price":"Purchase Count"})
Average_price_Mean1["Purchase Count"]=Count_df1
Average_price_Mean1["Total Purchase Value"]=Total_Purchase_price_Sum1
Sort=Average_price_Mean1.sort_values("Total Purchase Value", ascending=False)
Top5df2=Sort.loc["Final Critic":"Singed Scalpel"]
# Top5df2["Total Purchase Value"] = Top5df2["Total Purchase Value"].astype(float).map("${:,.2f}".format)
# Top5df2["Average Price"] = Top5df2["Average Price"].astype(float).map("${:,.2f}".format)
Top5df2

,Average Price,Purchase Count,Total Purchase Value
Item Name,,,
Final Critic,4.614615,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",4.230000,12,50.76
Nirvana,4.900000,9,44.10
Fiery Glass Crusader,4.580000,9,41.22
Singed Scalpel,4.350000,8,34.80